.errors__title {
  margin: 0;
  
  font-size: 1rem;
  color:red;
}

.errors__source {
  font-size:1.2rem;
  color:red;
  border-color:red;
}

.error__ribbon {
  padding: 1rem;

  font-size:1.4rem;
  color: red;
  border: maroon;
  background-color: #d39576;
}